.link-trigger {
    position: absolute;
    display: flex;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.primary {
        border-color: #4af;
    }
}